{% extends 'dashboard/main.html' %}

{% load static %}

{% block content %}
   <div class="content-page">
    <div class="content">
     <div class="container-fluid">
      <div class="row">
      </div>
      <div class="row">
         <div class='text-center px-2 py-3 w-100'> {% for message in messages %} <p class="text-center w-100" style="font-size:1.1rem;">{{message}}</p> {% endfor %}</div>

       <div class="col-xl-12">
        <div class="card">
         <div class="card-header bg-primary">
            
          <h3 class="card-title text-white">
           Send Bonus
          </h3>
         </div>
         <div class="card-body">
          <form action="/bonus/dashboard" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
           <div class="row">
            <div class="col-md-12">
             <div class="form-group">
              <label>
               Username
              </label>
              {% if user %}
              <input class="form-control" name="name" placeholder="Username" type="text" value="{{user.username}}" readonly required/>
              
              {% else %}
              <select name="name" class="form-control" id="">
               {% for userr in users %}
               <option value="{{userr.username}}">{{userr.username | title}}</option>
               {% endfor %}
               
              </select>
              
              {% endif %}
              
             </div>
            </div>
            <div class="col-md-12">
               <div class="form-group">
                <label>
                 Reason
                </label>
                <input class="form-control" name="action" placeholder="Reason" type="text" value="" required/>
               </div>
            </div>
            <div class="col-md-12">
             <div class="form-group">
              <label>
               Amount
              </label>
              <input class="form-control" name="amount" placeholder="0000" type="number" required/>
             </div>
            </div>
            <div class="col-md-12">
             <div class="form-group">
              <div class="checkbox checkbox-primary">
               <input checked="" id="checkbox1" name="show_bonus" type="checkbox" value="True"/>
               <label for="checkbox1">
                Show on User Transaction Details
               </label>
              </div>
             </div>
            </div>
           </div>
           <div class="text-center">
            <button class="btn btn-primary waves-effect waves-light" name="reward" type="submit">
             Send Bonus
            </button>
           </div>
          </form>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
     {% endblock content%}