<div class="card-body">




    <div class="form-group field-name">
        <div class="row">

            <label class="col-sm-3 text-left" for="id_name">
                Name

            </label>
            <div class=" col-sm-7 
                              field-name
                             
                             
                             ">

                <div class="readonly">Gold</div>


            </div>

        </div>
    </div>

    <div class="form-group field-minimum_amount">
        <div class="row">

            <label class="col-sm-3 text-left" for="id_minimum_amount">
                Minimum amount

            </label>
            <div class=" col-sm-7 
                              field-minimum_amount
                             
                             
                             ">

                <div class="readonly">5000</div>


            </div>

        </div>
    </div>

    <div class="form-group field-maximum_amount">
        <div class="row">

            <label class="col-sm-3 text-left" for="id_maximum_amount">
                Maximum amount

            </label>
            <div class=" col-sm-7 
                              field-maximum_amount
                             
                             
                             ">

                <div class="readonly">10000</div>


            </div>

        </div>
    </div>

    <div class="form-group field-number_of_days">
        <div class="row">

            <label class="col-sm-3 text-left" for="id_number_of_days">
                Number of days

            </label>
            <div class=" col-sm-7 
                              field-number_of_days
                             
                             
                             ">

                <div class="readonly">30</div>


            </div>

        </div>
    </div>

    <div class="form-group field-investment_profit_percent">
        <div class="row">

            <label class="col-sm-3 text-left" for="id_investment_profit_percent">
                Investment profit percent

            </label>
            <div class=" col-sm-7 
                              field-investment_profit_percent
                             
                             
                             ">

                <div class="readonly">7.0</div>


            </div>

        </div>
    </div>

    <div class="form-group field-referral_profit_percent">
        <div class="row">

            <label class="col-sm-3 text-left" for="id_referral_profit_percent">
                Referral profit percent

            </label>
            <div class=" col-sm-7 
                              field-referral_profit_percent
                             
                             
                             ">

                <div class="readonly">2.5</div>


            </div>

        </div>
    </div>

    <div class="form-group field-created">
        <div class="row">

            <label class="col-sm-3 text-left" for="id_created">
                Created

            </label>
            <div class=" col-sm-7 
                              field-created
                             
                             
                             ">

                <div class="readonly">Sept. 2, 2023</div>


            </div>

        </div>
    </div>

    <div class="form-group field-category">
        <div class="row">

            <label class="col-sm-3 text-left" for="id_category">
                Category

            </label>
            <div class=" col-sm-7 
                              field-category
                             
                             
                             ">

                <div class="readonly"><a href="/admin/investmentplan/category/2/change/">Gold</a></div>


            </div>

        </div>
    </div>







</div>