{% extends 'user/main.html' %} {% load static %} {% block content %}
<div class="row">
<div class="box-body">
    <div class='text-center px-2 py-3 w-100'> {% for message in messages %} <p class="text-center w-100" style="font-size:1.1rem;">{{message}}</p> {% endfor %}</div>
                   
    <div class="table-responsive">
        <table class="table table-striped table-bordered no-margin">
          <thead>
            <tr>
               <th class="text-center">S/N</th>
               <th>Plan</th>
               <th class="text-right">Invested Date</th>
               <th class="text-right">Amount</th>
               <th class="text-right">Maturity Date</th>
               <th class="text-right">Profit</th>
               <th class="text-right">Status</th>
            </tr>
           </thead>
           <tbody>
              
               {% for plan in plans %}<tr>
                  <td class="text-center"> {{ forloop.counter }}</td>
                  <td><a href="#" class="text-yellow hover-warning">{{ plan.investmentplan.name }}</a></td>
                  <td class="text-right"><span></span> {{ plan.investmentplan.created }}</td>
                  <td class="text-right"><span>$</span> {{ plan.amount }}</td>
                  <td class="text-right"><span></span>{{ plan.investmentplan.number_of_days }}days</td>
                  <td class="text-right"><span>$</span> {{ plan.profit }}</td>
                  <td class="text-right"><span class="label label-success">{{ plan.stillRunning }}</span></td>
               </tr>{% empty %}{% endfor %}


           </tbody>
        </table>
    </div>
</div>

{% endblock content %}
